.user-edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    border: none;
    color: #111;
}
.modal-header {
    border-color: #333;
}
.modal-footer {
    border-color: #333;
}
.form__readOnly {
    background-color: transparent!important;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    padding-left: 0;
}
.form__input {
    border: 1px solid #333;

}
.form__readOnly:focus {
    box-shadow: none;
    outline: none;
}
.form__btn-back {
    background-color: #457b9dff;
    color: #fff;
    border: 1px solid #fff;
}
.form__btn-back:hover {
    background-color: #1d3557ff;
    color: #fff;
    border: 1px solid #fff;
}
.form__btn-save {
    background-color: #fff;;
    color: #1d3557ff;
    border: 1px solid #1d3557ff;
}  
.form__btn-save:hover {
    background-color: #1d3557ff;
    color: #fff;
    border: 1px solid #fff;
}