.dummy-buttons {
    width: fit-content;
    justify-content: end;

    margin: auto;   
}
.dummy-buttons__button {
    margin: 20px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #1d3557ff;
    color: #1d3557ff;
}
.dummy-buttons__button:hover {
    cursor: pointer;
    background-color: #1d3557ff;
    color: #fff;
    border-color: #fff;
}