.form {
    margin: auto;
    margin-top: 60px;
    max-width: 500px;
    background-color: transparent;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #111;
    box-shadow: 10px 12px 8px 0px rgba(34, 60, 80, 0.2);
    color: #333;
}
.form__line {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.line__input {
    background-color: transparent;
    border-color: #111;
}
.line__input:focus {
    box-shadow: none;
    border-color: #111;
}
.line-checkbox {
    display: flex;
    margin-bottom: 20px;
}
.form-check-input {
    border-color: #111;
}
.form-check-input:focus {
    box-shadow: none;
}
.line-checkbox a {
    color: #333!important;
}
.form__button {
    margin-right: 20px;
    color: #fff;
    background-color: #1d3557ff;
    border: 1px solid #fff;
}
.form__button:hover {
    color: #1d3557ff;
    background-color: #fff;
    border: 1px solid #1d3557ff;
}