.users-table-wrapper {
    margin: auto;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 4px 4px 4px 0px rgba(34, 60, 80, 0.2);
    border: 1px solid #ccc;
}

.single-user {
    align-items: center;
    color: #111;
    font-size: 18px;
    border:none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ccc;
    border-radius: 0!important;
}
.single-user__block {
    min-width: 20%;
}
.single-user__button-block {
    display: flex;
    justify-content: flex-end;
}
.single-user__edit-button {
    background-color: transparent;
    border-color: #1d3557ff;
    color: #1d3557ff;
    margin-right: 10px;
}
.single-user__edit-button:hover {
    background-color: #1d3557ff;
    color: #fff;
    border-color: #fff;
}
.single-user__edit-button:focus {
    border-color: #1d3557ff;
    background-color: transparent;
    color: #1d3557ff;
    box-shadow: none
}
.user-table__labels {
    border: none;
}
.labels__label {
    font-size: 20px;
    font-weight: 500;
    color: #111;
    width: 20%;
}
.pagination {
    margin-top: 24px;
    margin-right: 24px;
}
.page-link {
    color: #1d3557ff!important;
    border-color: #1d3557ff;
}